<div id="header">
	<a id="logo" href="/"><img src="assets/logo.png"/></a>
	<div id="slogan"><img src="assets/slogan.png"></div>
	<nav>
		<ul>
			<li><%= link_to "Our Firm", overview_path %></li>
			<li><%= link_to "Our Team", team_path %></li>
			<li><%= link_to "Our Services", services_path %></li>
			<li><%= link_to "Retirement", retirement_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>

</div> 
